meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Elaborando el modelo
meta(meta name="description" content="Dentro de la manufactura de productos marroquineros se involucran diferentes etapas iniciando con el diseño como parte fundamental de la planeación en el desarrollo de un producto. De allí, la necesidad de conocer los principios generales que intervienen en el proceso de diseño para la elaboración del artículo.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")