h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 291501080 - 4 - Elaborar modelo de comprobación según requisitos técnicos del producto.