.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white
        img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid
        p.mt-5 Bienvenido a este componente formativo en donde se dispone la creación del modelo a desarrollar en el curso y por eso se disponen a continuación una serie de videos en orden para que entienda de la manera ideal el proceso productivo de marroquinería.