.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Castaño, S., et Al., (2019). Herramientas de corte manual para el sector del cuero. Sennova.
                    
                    td Cartilla digital
                    td 
                        a(href="Herramientas_de_corte_manual_para_el_sector_del_cuero.pdf", target="_blank") <span class="fa fa-file-text mr-3" aria-hidden="true"></span> ver

                tr
                    td Marulanda Gloria, (2007). Cartilla de marroquinería. Modelaje de bolsos.
                    
                    td Cartilla digital
                    td 
                        a(href="Desbaste_de_pieles.pdf", target="_blank") <span class="fa fa-file-text mr-3" aria-hidden="true"></span> ver                        