.header-arrow {
  background: rgb(115,2,32);
  background: radial-gradient(circle, rgba(115,2,32,1) 0%, rgba(169,87,90,1) 69%, rgba(215,160,140,1) 100%); 
  position: relative;
  padding: 2rem;

  h1,h2,h3 {
      margin: 0;
      color:white;
      text-align: center;      
  }

  &--xs {
    padding: 0;
    height: 8px;
  }

}

.header-arrow::before {
   content: '';
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    border-style: solid;
    border-width: 25px 25px 0px 25px;
    border-color: #760723 transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -18px;
    margin-top: 0px; 
    z-index: 20;
}

